rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    match /gameRooms/{roomId} {
      allow read, write: if true;

      match /video/connection {
        allow read, write: if true;

        match /callerCandidates/{candidateId} {
          allow read, write: if true;
        }

        match /calleeCandidates/{candidateId} {
          allow read, write: if true;
        }
      }

      match /callerCandidates/{candidateId} {
        allow read, write: if true;
      }

      match /calleeCandidates/{candidateId} {
        allow read, write: if true;
      }
    }
  }
}